:root,
body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-size: 16px;
  font-family: 'Lato', sans-serif;

  background-color: #eaedef;
  background-color: #ecedf0;
  background-color: #fff;
  color: #444c5f;

  text-rendering: geometricPrecision;
}

@media all and (max-width: 720px) {
  :root,
  body {
    font-size: 12px;
  }
}

#root {
  height: 100%;
}
